.about-hero{
    margin: 50px;
    &__img{
        text-align: center;
        max-width: 620px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        object-fit: cover;
        & img{
            max-width: 620px;
            width: 100%;
            height: 848px;
            object-fit: cover;
        }
    }
    &__text{
        position: absolute;
        left: 170px;
        z-index: 1;
        top: 220px;
        font-family: 'Cera Pro Light';
    & h1{
        @extend .font-title-caps-medium;
        padding: 10px 0;
    }
    & h3{
        width: 370px;
        font-size: 16px;
        line-height: 1.5;
        padding: 20px 0;
    }
    }
    &__subtitle{
        background-color: #fff;
        font-size: 14px;
        position: absolute;
        right: 180px;
        z-index: 1;
        bottom: 100px;
        font-family: 'Cera Pro Light';
        max-width: 500px;
        width: 100%;
        padding: 30px;
    }
}

.about-services{
    margin: 100px;
    justify-content: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
    &__text{
        font-family: 'Cera Pro Medium';
        font-weight: normal;
        padding-bottom: 20px;
        justify-self: center;
        & h2{
            font-size: 54px;
        }
        & h3{
            font-size: 30px;
        }
        &-list{
            padding: 20px 0;
            &__item{
                display: flex;
                gap: 15px;
                font-family: 'Cera Pro Light';
                font-weight: normal;
                padding: 20px 0;
                & h4{
                    width: 460px;
                }
                & img{
                    width: 20px;
                    height: 20px;
                }
            }
        }
    }
    &__button{
        background-color: #fff;
        display: inline-block;
        width: 300px;
        padding: 10px 40px;
        text-align: center;
        color: #313131;
        border-radius: 50px;
        border: 1px solid #313131;
        cursor: pointer;
        font-weight: normal;
        font-size: 14px;
        font-family: 'Cera Pro Medium', sans-serif;
        font-weight: normal;
        letter-spacing: 1px;
    }
    &__image{
        object-fit: cover;
        height: 80%;
        max-width: 800px;
        width: 100%;
        margin: 100px 0;
    }
}

// Medias queries
@media (max-width: 1400px){
    .about-hero__text{
        left: 80px;
        width: 400px;
    }
    .about-hero__text h1{
        font-size: 40px;
    }
}
@media (max-width: 1024px){
    .about-hero__text{
        left: 50px;
    }
    .about-hero__text h3{
        width: 300px;
    }
    .about-services{
        gap: 20px;
    }
    .about-services__text{
        width: 350px;
    }
    .about-services__text-list__item{
        max-width: 300px;
        width: 100%;
    }
    .about-services__image{
        height: 484px;
    }
}
@media(max-width:768px){
    .about-hero__text{
        left: 100px;
        top: 170px;
    }
    .about-hero__subtitle{
        left: 0; 
        right: 0; 
        margin: auto;
        bottom: 80px;
    }
    .about-services__text h2{
        font-size: 48px;
    }
    .about-services__text h3{
        font-size: 26px;
    }
    .about-services{
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
        text-align: center;
    }
    .about-services__text{
        max-width: 500px;
        width: 100%;
        margin: 0 auto;
    }
    .about-services__text-list__item{
        margin: 0 auto;
        max-width: 450px;
        width: 100%;
        text-align: left;
    }
    .about-services__image{
        margin: 0;
    }
}
@media(max-width:600px){
    .about-hero__text{
        left: 0;
        right: 0;
        margin: auto;
        text-align: center;
        top: 170px;
    }
    .about-hero__text h1{
        font-size: 34px;
    }
    .about-hero__text h3{
    text-align: center;
    left: 0;
    right: 0;
    margin: auto;
    padding: 0;
    }
    .about-hero__subtitle{
        width: 340px;
        bottom: 30px;
    }
    .about-services__text-list__item{
        max-width: 350px;
    }
    .about-services__text h2{
        font-size: 42px;
    }
    .about-services__text h3{
        font-size: 20px;
    }
}
@media(max-width:400px){
    .about-hero__text h1{
        font-size: 26px;
    }
    .about-hero__text h3{
        max-width: 250px;
    }
    .about-hero__subtitle{
        max-width: 240px;
        bottom: 15px;
    }
    .about-services__text h2{
        font-size: 38px;
    }

    .about-services__image{
        max-width: 350px;
    }
}