.must-hero{
    margin: 50px;
    position: relative;
}
.must-hero__img{
    display: flex ;
    justify-content: center;
    object-fit: cover;
}
.must-hero__img3{
    width: 100%;
    max-width: 1648px;
    height: 605px;
    object-fit: cover;
}

.must-hero__img2{
    display: none ;
    height: 605px;
    width: 100%;
    max-width: 1146px;
    object-fit: cover;
}
.must-hero__img1{
    display: none ;
    height: 605px;
    width: 100%;
    max-width: 534px;
    object-fit: cover;
}
.must-hero__title{
    position: absolute;
    margin: 80px 100px;
}
.must-hero h2{
    font-family: 'Cera Pro';
    font-weight: normal;
    font-size: 40px;
}
.must-hero h1{
    font-family: 'Cera Pro';
    font-weight: normal;
    font-size: 26px;
}
.must-hero__subtitle{
    text-align: center;
    margin: 50px 0px 100px 0px;
}
.must-hero__subtitle h3{
    font-family: 'Cera Pro Medium';
    font-size: 24px;
    font-weight: normal;
    padding-top: 40px;
    padding-bottom: 15px;
    letter-spacing: 3px;
}
.must-hero__subtitle h4{
    font-family: 'Cera Pro Medium';
    font-size: 24px;
    font-weight: normal;
    letter-spacing: 3px;
    padding-bottom: 30px;
}
.must-hero__subtitle p{
    font-family: 'Cera Pro Light';
    font-weight: normal;
    max-width: 600px;
    width: 100%;
    margin: auto;
}
/* section must have looks */
.must-look{
    position: relative;
    margin-bottom: 80px;
}
.must-look__carousel{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}
.must-look__carousel-img{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.must-look__carousel-button{
    display: flex;
    flex-direction: row;
}
.column-carousel1{
    position: relative;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    justify-items: end;
    height: 500px;
    top: 0;
    bottom: 0;
    align-items: flex-end;
}
.must-look__carousel{
    background: 
    radial-gradient(350px at 450px 400px, #CC7EF0 0%, rgba(210, 137, 244, 0.767708) 41.98%, rgba(229, 174, 255, 0) 100%), 
    radial-gradient(300px at 1400px 350px, rgb(121, 198, 28) 0.28%, rgba(229, 174, 255, 0) 100%), 
    radial-gradient(200px at 1200px 550px, #29c9d8 0.28%, rgba(204, 226, 70, 0) 100%);
}
.column-carousel3{
    position: relative;
    display: flex;
    flex-direction: column;
    height: 500px;
    top: 140px;
    justify-items: start;
    justify-content: space-between;

}

.arrow1{
    display: flex;
    flex-direction: row;
}
.arrow3{
    display: flex;
    flex-direction: row;
}
.must-look__carousel-button1 button{
    width: 50px;
    height: 50px;
    background-color: #232323;
    border: none;
}
.must-look__carousel-button2 button{
    width: 50px;
    height: 50px;
    background-color: #fff;
    border: none;
}


.line{
    height: 1px;
    background-color: #fff;
    width: 850px;
}
.line2{
    height: 2px;
    background-color: #232323;
    width: 200px;
}
.line3{
    height: 2px;
    background-color: #232323;
    width: 200px;
    position: absolute;
    top: 107px;
}
.line4{
    height: 2px;
    background-color: #232323;
    width: 200px;
    position: absolute;
    top: 355px;
}
.rectangle{
    position: absolute;
    background-color: #232323;
    width: 850px;
    height: 500px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    z-index: -1;
}
.must-look__carousel-img img{
    width: 600px;
    height: auto;
}
.space{
    height:33%;
}
.must-look__img{
    text-align: center;
}
.must-look__title{
    // font-family: 'Cera Pro Medium';
    font-weight: normal;
    position: absolute;
    margin-top: 140px;
    margin-left: 220px;
    text-align: right;
    width: 500px;

}
.must-look__title span{
    color: #fff;
}
.must-look__title h2{
    @extend .font-section-title-strong;
}
.must-look__title h6{
    @extend .font-caption;
}
.must-have__subtitle{
    position: absolute;
    width: 500px;
    text-align: right;
    right: 160px;
    bottom: 350px;
    @extend .font-body;
}
.must-have__subtitle span{
    color: #fff;
}
.must-look__button{
    background-color: #fff;
    /* display: inline-block; */
    width: 300px;
    padding: 10px 40px;
    text-align: center;
    color: #313131;
    border-radius: 50px;
    border: 1px solid #313131;
    cursor: pointer;
    font-weight: normal;
    font-size: 14px;
    font-family: 'Cera Pro Medium', sans-serif;
    font-weight: normal;
    letter-spacing: 1px;
    margin: 0 auto;
    display: block;
}

// Responsive Media Queries
@media(max-width: 1400px){
    .must-hero__img3{
        display: none ;
    }
    .must-hero__img2{
        display: flex ;
    }
    .must-hero__img1{
        display: none ;
    }
    .must-hero__title{
        margin: 100px 100px;
    }
    .must-hero h2{
        font-size: 36px;
    }
    .must-hero h1{
        font-size: 24px;
    }
}
@media (max-width: 1024px){
    .must-hero__img3{
        display: none ;
    }
    .must-hero__img2{
        display: none ;
    }
    .must-hero__img1{
        display: flex ;
    }
    .must-hero__title{
        margin: 100px 100px;
        width: 400px;
    }
    .must-hero h2{
        font-size: 32px;
    }
    .must-hero h1{
        font-size: 20px;
    }
}
@media(max-width:768px){
    .must-hero__title{
        margin: 100px 50px;
        width: 400px;
    }
    .must-hero h2{
        font-size: 32px;
    }
    .must-hero h1{
        font-size: 20px;
    }
}
@media(max-width:600px){
    .must-hero__title{
        margin: 80px 20px;
        width: 300px;
    }
    .must-hero h2{
        font-size: 24px;
    }
    .must-hero h1{
        font-size: 16px;
    }
}
@media(max-width:400px){

}