/* Header */
.header {
    position: sticky;
    /* top: 0; */
    /* background-color: rgb(210, 208, 207); */
    // padding: 5px 20px 5px 40px;
    z-index: 2;
    font-family: 'Cera Pro', sans-serif;
    margin: 20px;
    border-radius: 50px;
    outline: solid 1px #313131;
}
.header__content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.header__content-logo{
    width: 124px;
    justify-content: center;
    margin-left: 40px;
    padding-top: 10px;
}
.header__content-navbar{
    display: flex;
}
.header__content-navbar li{
    margin: 0 20px;
    display: inline-block;
    align-items: center;
}
.header__content-navbar a {
    margin: 0 15px;
    color: rgb(0, 0, 0);
}
ul{
    list-style-type: none;
}
a {
    text-decoration: none;
}
a:hover{
    font-weight: 600;
    text-decoration: underline solid 2px rgb(149, 9, 218);
    text-underline-offset: 5px;
}
.header__button{
    background-color: #fff;
    display: inline-block;
    width: 200px;
    padding: 12px 4px;
    text-align: center;
    border-radius: 50px;
    border: none;
    /* border: 1px solid #313131; */
    cursor: pointer;
    font-weight: normal;
    font-size: 14px;
    font-family: 'Cera Pro Medium', sans-serif;
    font-weight: normal;
    letter-spacing: 1px;
    margin: 10px 0px;
}
.header__button a{
    color: #313131;
}
// .header .icon {
//     display: none;
//   }

.hamburger{
    display: none;
    cursor: pointer;
    color: #313131;
}
.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #313131;
}


// medias queries
@media(min-width:1025px){
    .short-text { display: none; }
}
@media(max-width: 1024px){
    // .header{
    //     background-color: aquamarine;
    // }
    .header__content-navbar a {
        margin: 0 5px;
    }
    .header__content-navbar li{
        margin: 0 10px;
    }
    .header__button{
        margin: 10px 0px;
        width: 140px;
    }
    .short-text {
        display: inline-block;
    }
    .full-text {
        display: none;
    }
    }

@media(max-width: 768px){
    // .header{
    //     outline: solid 1px #313131;
    // }
    .hamburger{
        display: block;
    }
    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
    .header__content-navbar{
        position: fixed;
        top: -100%;
        left: 0;
        right: 0;
        gap: 10px;
        flex-direction: column;
        background-color: rgb(255, 255, 255);
        // width: 95%;
        text-align: center;
        transition: 0.3s;
        z-index: -1;
        margin: 0 20px;
        border-radius: 36px;
        border:solid 1px #313131;
    }
    .header__content-navbar li{
        padding: 20px;
    }
    .header__content-navbar.active{
        top: 90px;
    }


    .header__content-logo img{
        display: block;
        padding: 0 15px;
    }

    .header__button{
        width: 120px;
    }
    }

@media(max-width: 600px){
    // .header__content-navbar{
    //     width: ;
    // }
    // .header{
    //     background-color: orange;
    // }
}
// @media screen and (max-width: 600px) {
//     .header a:not(:first-child) {display: none;}
//     .header a.icon {
//       float: right;
//       display: block;
//     }
//   }
//   @media screen and (max-width: 600px) {
//     .header.responsive {position: relative;}
//     .header.responsive .icon {
//       position: absolute;
//       right: 0;
//       top: 0;
//     }
//     .header.responsive a {
//       float: none;
//       display: block;
//       text-align: left;
//     }
//   }

@media(max-width: 400px){
    // .header{
    //     padding: 0 20px;
    //     background-color: red;
    // }
    // .header__button{
    //     margin: 10px 0;
    // }
}
