/* Header */
.header {
    position: sticky;
    /* top: 0; */
    /* background-color: rgb(210, 208, 207); */
    // padding: 5px 20px 5px 40px;
    z-index: 2;
    font-family: 'Cera Pro', sans-serif;
    margin: 20px;
    border-radius: 50px;
    outline: solid 1px #313131;
}
.header__content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.header__content-logo{
    display: flex;
    width: 124px;
    justify-content: center;
}
.header__content-logo img{
    display: none;
    padding: 0 15px;
}
.header__content-navbar{
    display: flex;
}
.header__content-navbar li{
    margin: 0 20px;
    display: inline-block;
    align-items: center;
}
.header__content-navbar a {
    margin: 0 15px;
    color: rgb(0, 0, 0);
}
ul{
    list-style-type: none;
}
a {
    text-decoration: none;
}
a:hover{
    font-weight: 600;
    text-decoration: underline solid 2px rgb(149, 9, 218);
    text-underline-offset: 5px;
}
.header__button{
    background-color: #fff;
    display: inline-block;
    width: 200px;
    padding: 12px 4px;
    text-align: center;
    border-radius: 50px;
    border: none;
    /* border: 1px solid #313131; */
    cursor: pointer;
    font-weight: normal;
    font-size: 14px;
    font-family: 'Cera Pro Medium', sans-serif;
    font-weight: normal;
    letter-spacing: 1px;
    margin: 10px 0px;
}
.header__button a{
    color: #313131;
}

// medias queries
@media(min-width:1025px){
    .short-text { display: none; }
}
@media(max-width: 1024px){
    // .header{
    //     background-color: aquamarine;
    // }
    .header__content-navbar a {
        margin: 0 5px;
    }
    .header__content-navbar li{
        margin: 0 10px;
    }
    .header__button{
        margin: 10px 0px;
        width: 140px;
    }
    .short-text { 
        display: inline-block; 
    }
    .full-text { 
        display: none; 
    }
    }

@media(max-width: 768px){
    // .header{
    //     outline: solid 1px #313131;
    // }
    .header__content-logo img{
        display: block;
        padding: 0 15px;
    }
    .header__content-navbar{
        display: none;
    }
    .header__button{
        width: 120px;
    }
    }

@media(max-width: 600px){
    // .header{
    //     background-color: orange;
    // }
}

@media(max-width: 400px){
    // .header{
    //     padding: 0 20px;
    //     background-color: red;
    // }
    // .header__button{
    //     margin: 10px 0;
    // }
}