@font-face {
    font-family: 'Cera Pro Light';
    src: url(/assets/typography/Cera-Pro-Light.ttf) format('otf');
}
@font-face {
    font-family: 'Cera Pro Medium';
    src: url(/assets/typography/CeraProMedium.ttf);
}
@font-face {
    font-family: 'Cera Pro';
    src: url(/assets/typography/Cera-Pro-Bold.ttf);
}
@font-face {
    font-family:'Halbrein' ;
    src: url(/assets/typography/Halbrein.ttf) format('ttf');
}